.introduce {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.profile-pic {
    width: 80%;
    height: 60vh;
    background: url('./img/profile.jpg') 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(20%);
    opacity: 0;
    animation: profileup 1.2s forwards cubic-bezier(1,.27,.56,1.01);
    animation-delay: 0.5s;
}
.introduce .corner {
    position: absolute;
}
.introduce .corner p {
    color: #fff;
    font-size: 0.7rem;
    transform: rotate(90deg);
}
.introduce .top-left {
    top: 3%;
    left: -24px;
    line-height: 1.5;
}
.introduce .top-right {
    top: 4%;
    right: -32px;
}
.introduce .center{
    top: 58%;
    left: 60%;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;
    z-index: 50;
    animation: centerup 1.8s ease forwards;
    animation-delay: 1.2s;
}
.introduce .center p{
    transform: rotate(0deg);
    font-size: 3rem;
}

@keyframes profileup {
    0%{
        opacity: 0;
        transform: translateY(20%);
    }
    100%{
        opacity: 1;
        transform: translateY(-6%);
    }
}
@keyframes centerup {
    0%{
        opacity: 0;
        transform: translate3d(-50%, -50%, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(-50%, 0, 0);
    }
}