@charset "utf-8";
.open{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10000;
}
.open .layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
    animation: open 1s cubic-bezier(1,.01,.44,1) forwards;
}
.open .layer:nth-child(1){
    background: #000;
    z-index: 2;
}
.open .layer:nth-child(2){
    background: #ffbe00;
    z-index: 1;
    animation-delay: 0.3s;
}

.article {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 618px;
    margin-bottom: 140px;
}
.slide-in {
    transform-origin: center;
    transition: 0.6s;
    transform: translateY(-30%);
    opacity: 0;
    transform: scale(0.9);
}
.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    height: 100%;
}
.lf {
    flex: 1;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 10px 0;
}
.lf h2 {
    font-size: 1.5rem;
    opacity: 0;
    z-index: 10;
    animation: appearup 1s forwards;
    animation-delay: 2s;
    font-weight: 600;
    color: #ffffff;
}
.lf span {
    padding: 12px 0 0;
    opacity: 0;
    z-index: 10;
    animation: appearup2 1s forwards;
    animation-delay: 2.2s;
    color: #00ff66;
    font-size: 0.75rem;
}
.rt {
    flex: 3;
    height: 340px;
    margin-bottom: 32px;
    opacity: 0;
    animation: openrt 0.6s forwards;
    animation-delay: 2.5s;
}
.rt .shell {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 20;
    animation: openshell 1.2s forwards cubic-bezier(.65,.23,.52,.9);
    animation-delay: 2.8s;
    transform-origin: left;
}
.rt .img-box {
    width: 80%;
    max-width: 560px;
    height: 100%;
    background: url('./bgs.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.rt .bg-2 {
    background: url('./bgs2.jpg') 50% 50%;
    background-size: 410px;
    background-repeat: no-repeat;
}
.rt .bg-3 {
    background: url('./bgs3.jpg') 50% 50%;
    background-size: 410px;
    background-repeat: no-repeat;
}
.right {
    transform: translateX(50%);
}
.left {
    transform: translateX(-50%);

}
.paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    transform: translateY(50%);
    opacity: 0;
    animation: apearpara 1.2s forwards cubic-bezier(.65,.23,.52,.9);
    animation-delay: 2.8s;
}
.paragraph p{
    color: #fff;
    font-size: 0.9rem;
    line-height: 1.75;
    margin-bottom: 18px;
}
.paragraph p.spcfy {
    width: 100%;
    text-align: left;
    font-size: 0.5rem;
}
.paragraph button {
    width: 100%;
    max-width: 380px;
    padding: 8px 12px;
    background: #ffd17c;
    border: none;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #00380f;
    transition: .3s;
}
.paragraph button:hover {
    background: #ffbe00;
}
.paragraph button a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.appearopa {
    animation: appearopa 0.3s forwards;
    animation-delay: 0.8s;
}

.article.active {
    opacity: 1;
    transform: translateY(0%) scale(1)
}
@keyframes apearpara {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes openrt {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 
@keyframes navbg{
    0%{
        right: -250%;
        opacity: 0;
        background: #ff0039;
    }
    
    100%{
        right: -58%;
        opacity: 1;
        background: #ffbe00;
    }
}
@keyframes open{
    0%{
        transform: scaleY(1);
    }
        
    100%{
        transform: scaleY(0);
    }
}
@keyframes openshell {
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(0);
    }
}
@keyframes appearup {
    0%{
        opacity: 0;
        top: 34%;
    }
    100%{
        opacity: 1;
        top: 24%;
    }
}
@keyframes appearup2 {
    0%{
        opacity: 0;
        bottom: 14%;
    }
    100%{
        opacity: 1;
        bottom: 24%;
    }
}
@keyframes appearup3 {
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}
@keyframes appearopa {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media only screen and (min-width: 760px){

}
